<!doctype html>
<script type="text/javascript" src="/lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="/custom.css">
<style type="text/css">
	#mainPopup {
		padding: 10px;
		height: 550px;
		width: 400px;
	}
	h1 {
		font-size: 2em;
	}

    body {
        background-image: url('/icons/bedge_grunge.png');
    }

</style>

<div id="mainPopup">
    <div>
        <!-- <input type="text" class="span5" placeholder="Search..."> -->
        <img src="/icons/128.png" class="logo">
            <button class="btn btn-success btn-large login">Login to Recall</button>
    </div>
</div>
